<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= person.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= person.email %>
  </p>

  <p>
    <strong>Github url:</strong>
    <%= person.github_url %>
  </p>

  <p>
    <strong>Devto url:</strong>
    <%= person.devto_url %>
  </p>

  <p>
    <strong>Linkedin url:</strong>
    <%= person.linkedin_url %>
  </p>

  <p>
    <strong>Photo url:</strong>
    <%= person.photo_url %>
  </p>

</div>
