<div id="<%= dom_id person %>" class="card m-3 col-md-6  position-absolute top-50 start-50 translate-middle">

  <h3 class="d-flex justify-content-center my-5">Views: <%=@person.views_count%></h3>

  <p class="d-flex justify-content-center">
    <%= raw @person.qr_code %>
  </p>
  <div class="card-body">
    <h3 class="card-title d-flex justify-content-center"><%= @person.first_name %> <%= @person.last_name %></h3>
    <p class="d-flex justify-content-center">
      <%= @person.email %>
    </p>

    <% if @person.github_url?%>
      <p class="d-flex justify-content-center">
        <strong>GitHub URL:</strong>
        <%= link_to "#{@person.github_url}" %>
      </p>
    <% end %>

    <% if @person.devto_url?%>
      <p class="d-flex justify-content-center">
        <strong>Dev.to URL:</strong>
        <%= link_to "#{@person.devto_url}" %>
      </p>
    <% end %>

    <% if @person.linkedin_url?%>
      <p class="d-flex justify-content-center">
        <strong>LinkedIn URL:</strong>
        <%= link_to "#{@person.linkedin_url}" %>
      </p>
    <% end %>

    <% if @person.photo_url?%>
      <p class="d-flex justify-content-center">
        <strong>Photo URL:</strong>
        <%= @person.photo_url %>
      </p>
    <% end %>
  </div>
  
  <div>
    <%= link_to "Back to people", people_path, class:"btn btn-primary" %>
    <%= link_to "Edit this person", edit_person_path(@person), class:"btn btn-secondary" %> |

    <%= button_to "Destroy this person", @person, method: :delete, class:"btn btn-danger" %>
  </div>
</div>

