<div id="<%= dom_id person %>">
  <p>
    <strong>First name:</strong>
    <%= @person.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @person.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @person.email %>
  </p>

  <p>
    <strong>GitHub URL:</strong>
    <%= @person.github_url %>
  </p>

  <p>
    <strong>Dev.to URL:</strong>
    <%= @person.devto_url %>
  </p>

  <p>
    <strong>LinkedIn URL:</strong>
    <%= @person.linkedin_url %>
  </p>

  <p>
    <strong>Photo URL:</strong>
    <%= @person.photo_url %>
  </p>

  <p>
    <strong>Views count:</strong>
    <%= @person.views_count %>
  </p>

  <p>
    <strong>QR Code:</strong><br>
    <%= raw @person.qr_code %>
  </p>
</div>
