<div class="position-absolute top-10 start-0">
  <%= render "people/qrcode_button" %>
</div>

<div id="<%= dom_id person %>" class="card m-3 col-sm-6 position-absolute top-50 start-50 translate-middle bg-gray" >
  <% if @person.devto_username?%>
    <p class="d-flex justify-content-center align-items-center">
      <%# TODO: Put users quiz result link and role here %>
      <a href="" class="button t-orange">Quiz Result</a>
    </p>
  <% end %>

  <div class="card-body">
    <h3 class="card-title d-flex justify-content-center"><%= @person.first_name %> <%= @person.last_name %></h3>
    <p class="d-flex justify-content-center">
      <%= @person.email %>
    </p>

    <% if @person.linkedin_url?%>
      <p class="d-flex justify-content-center  align-items-center">
        <a href="<%=@person.linkedin_url%>" class="button t-orange">LinkedIn</a>
      </p>
    <% end %>

    <% if @person.github_username?%>
      <p class="d-flex justify-content-center  align-items-center">
        <a href="https://github.com/<%=@person.github_username%>" class="button t-orange">GitHub</a>
      </p>
    <% end %>
  </div>
</div>

