<div id="<%= dom_id person %>" class="card m-3 col-sm-6  position-absolute top-50 start-50 translate-middle bg-gray b-shadow" >

  <div class="d-flex justify-content-center mt-5">
    <h3 class="me-1">Views:</h3>
    <h3 class="t-orange"><%=@person.views_count%></h3>
  </div>

  <div class="card-body">
    <h3 class="card-title d-flex justify-content-center"><%= @person.first_name %> <%= @person.last_name %></h3>
    <p class="d-flex justify-content-center">
      <%= @person.email %>
    </p>

    <% if @person.linkedin_url?%>
      <p class="d-flex justify-content-center  align-items-center">
        <a href="<%=@person.linkedin_url%>" class="button t-orange">LinkedIn</a>
      </p>
    <% end %>

    <% if @person.github_url?%>
      <p class="d-flex justify-content-center  align-items-center">
        <a href="<%=@person.github_url%>" class="button t-orange">GitHub</a>
      </p>
    <% end %>

    <% if @person.devto_url?%>
      <p class="d-flex justify-content-center align-items-center">
        <a href="<%=@person.devto_url%>" class="button t-orange">Dev.to</a>
      </p>
    <% end %>
  </div>
</div>

