<!-- app/views/people/index.html.erb -->
<h2 class="m-3">Exploration Day Feed</h2>

<div class="d-flex justify-content-center"> 
  <% @top_three.each do |person| %>
    <div class="card m-5 shadow col-md-3 py-5 bg-warning only-desktop"> 
      <h3 class="d-flex justify-content-center"><%= person.first_name %> <%= person.last_name %></h3>
      <h5 class="d-flex justify-content-center"><i class="bi bi-github px-2"></i><%= person.github_username %></h5>
      <h5 class="d-flex justify-content-center"><i class="bi bi-eye-fill px-2"></i> <%= person.views_count %><h5>
    </div>
  <% end %>
</div>

<div class="card mx-5 shadow">
  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead class="table-dark">
        <tr>
          <th>Views</th>
          <th>Name</th>
          <th>Email</th>
          <th>GitHub Username</th>
          <th>Results</th>
          <th>LinkedIn URL</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @people.each do |person| %>
          <tr>
            <td><%= person.views_count %></td>
            <td><%= person.first_name %> <%= person.last_name %></td>
            <td><%= person.email %></td>
            <td><%= person.github_username %></td>
            <td><%= person.quiz_result %></td>
            <td><%= person.linkedin_url %></td>
            <td><%= link_to 'Show', person, class:"btn btn-primary"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
