<!-- app/views/people/index.html.erb -->
<h2>Exploration Day Feed</h2>

<div class="d-flex justify-content-center"> 
  <% @top_three.each do |person| %>
    <div class="card m-5 shadow col-md-3 py-5 bg-warning"> 
      <h3 class="d-flex justify-content-center"><%= person.first_name %> <%= person.last_name %></h3>
      <h5 class="d-flex justify-content-center"><%= person.email %></h5>
      <h5 class="d-flex justify-content-center">Views: <%= person.views_count %><h5>
    </div>
  <% end %>
</div>

<div class="card mx-5 shadow">
  <table class="table table-striped text-center">
    <thead class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Views count</th>
        <th>GitHub URL</th>
        <th>Dev.to URL</th>
        <th>LinkedIn URL</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @people.each do |person| %>
        <tr>
          <td><%= person.first_name %></td>
          <td><%= person.last_name %></td>
          <td><%= person.email %></td>
          <td class="center"><%= person.views_count %></td>
          <td><%= person.github_url %></td>
          <td><%= person.devto_url %></td>
          <td><%= person.linkedin_url %></td>
          <td><%= link_to 'Show', person, class:"btn btn-primary"%></td>
          <td><%= link_to 'Edit', edit_person_path(person), class:"btn btn-secondary" %></td>
          <td><%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Person', new_person_path, class:"btn btn-success" %>
</div>
